body{
    background-image: url(../imagenes/fondoPizza.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
    background-possition: center;
    background-color:#FAFAD2;
    color:white
}

.cajita{
  position:fixed;
  left:100px;
  width:85%;
  max-width:85%;
  height:90%;
  max-height:90%;
  padding:0.5% 1%;
  background:rgba(0,0,0,0.5);
  overflow-y: scroll;
  overflow-x: hidden;
}
.tarjetitas{
   float:left;
   width:20%;
   max-width:20%;
   height:25%;
   max-height:25%;
   border-radius:3%;
   padding:1% 1%;
   margin:1% 1%;
   background:rgba(0,0,0,0.5);
}
a.btn{
    position:absolute;
    top:85%;
    background-color: #c61114; /* Red */
    margin:0.4% 0.4%;
    border: none;
    color: white;
    padding: 1% 1.5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius:5%;
}