body{
   background-image: url(../imagenes/fondoPizza.jpg);
   background-repeat: no-repeat;
   background-size:100% 100%;
   background-attachment: fixed;
   background-possition: center;
   background-color:#FAFAD2;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  margin:none;
}

/* Links inside the navbar */
.navbar a.btn {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  min-width: 160px;
  background-color: inherit;
}

/* Add a red background color to navbar links on hover */
.navbar a.btn:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a.btn {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a.btn:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.navbartitle{
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

.container{
   position:fixed;
   width:35%;
   margin: 1% 32%;
   background:rgba(0,0,0,0.5);
}

h1{
    color:white;
    font-weight:bold;
    text-align:center;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 80%;
    padding: 2% 2%;
    margin: 2% 10%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #c61114;
    color: white;
    padding: 2% 5%;
    margin: 8px 10%;
    border: none;
    cursor: pointer;
    width: 80%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Add padding to containers */
.container {
    padding: 1%;
}

label{
    color:white;
    font-size:15px;
    font-weight:bold;
    text-align:center;
}

.select{
    width: 80%;
    padding: 2% 4%;
    margin: 8px 6%;
    color:white;
}