<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Empresa</title>
    <link href="../static/css/pedidosEmp.css" th:href="@{/css/pedidosEmp.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2 class="title" th:text="${empresa.nombre}">nombre</h2>
    <div class="select" th:each="pedido: ${pedidos}">
        <form class="form-horizontal" th:action="${'/cambiar/new/'+ pedido.id}" method="post">
            <div class="group" align="center" color="white">
                <div class="inf">
                    <div class="data"><label th:text="${'Pedido nro: '+pedido.id}"></label></div>
                    <div th:each="op: ${pedido.opcion_pedidos}">
                        <label th:text="${op.option.name+': '+op.option.price+' Bs'}"></label>
                    </div>
                    <div class="Total"><label th:text="${pedido.precio + ' Bs'}">P/u:</label></div>
                </div>
                <label>Estado:</label>
                <select name="status">
                    <option th:each="state : ${statuses}" th:value="${state.id}" th:text="${state.name}"></option>
                </select>
                <div class="row">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>


</body>
</html>