<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Pais</title>
    <link href="../static/css/listasForm.css" th:href="@{/css/listasForm.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar">
    <a class="navbartitle" href="/">Pizza Hunter</a>
</div>
<div class="container">
    <h1>Detalles del Pais</h1>
    <form class="form-horizontal" th:object="${pais}" th:action="@{/admin/pais}" method="post">
        <input type="hidden" th:field="*{idPais}"/>
        <div class="form-group">
            <label class="col-sm-2 control-label">Nombre:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{name}"/>
                <span style="color: red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>
</body>
</html>