<!DOCTYPE html>
<html  lang="en" xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8"/>
    <title>Marker Labels</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeyVAk4Z0xQCOIG7SNmjEbhFWKm35Z-7I"></script>
    <script>
        var Empresa = new google.maps.LatLng(-17.37634623260192,-66.15863853745395);
        var MiPedido = new google.maps.LatLng(-17.385801388585996,-66.15599870681763);
        function initialize(n) {
          var directionsService = new google.maps.DirectionsService;
          var directionsDisplay = new google.maps.DirectionsRenderer;
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: Empresa
          });
          if(n==1){
             directionsDisplay.setMap(map);
             calculateAndDisplayRoute(directionsService, directionsDisplay);
          }
        }
        function calculateAndDisplayRoute(directionsService, directionsDisplay) {
          directionsService.route({
            origin: Empresa,
            destination: MiPedido,
            travelMode: 'DRIVING'
          }, function(response, status) {
             if (status === 'OK') {
               directionsDisplay.setDirections(response);
             } else {
                window.alert('Directions request failed due to ' + status);
             }
          });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
<div id="map"></div>
<div>
    <select name="slack">
        <option value="1">M1</option>
        <option value="2">M2</option>
        <option value="3">M3</option>
        <option value="4">M4</option>
    </select>
    <button onclick="initialize(1)">calc</button>
</div>
</body>
</html>